.contexify_theme-light {
    --contexify-menu-bgColor: #fff;
    --contexify-separator-color: #eee;
    --contexify-item-color: #666;
    --contexify-activeItem-color: #3498db;
    --contexify-activeItem-bgColor: #e0eefd;
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: #3498db;
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color: #fff;
    pointer-events: auto;
}